@import './mixin.scss';
.empty {
    position: absolute;
    @include wh;
    background: #f6f6f6 url('http://rossi.wang:8081/vue2.ele.me/img/9fb04779371b5b162b41032baf5f3gif.gif') center 20% no-repeat;
    background-size: 60%;
    h2 {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        bottom: 0;
        margin: auto;
        width: 18rem;
        height: 7.2rem;
        text-align: center;
        @include font(1.6rem, 4rem);
        color: #5A6B73;
        p {
            border-top: #B3B4B5 solid 1px;
            @include font(1.2rem, 3rem);
            color: #b6b6b6;
        }
    }
}
