.list-box {
  width: 100%;
  background-color: #fff;
  font-size: 1.3rem;
  color: #333; }

.list-item {
  position: relative;
  padding: 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  border-bottom: #eee solid 1px; }
  .list-item .list-arrow {
    display: inline-block;
    width: 1.6rem;
    height: 1rem;
    fill: #999; }

.list-title {
  margin: 1.1rem 0 .8rem .8rem;
  font-size: .9rem;
  color: #999; }

.icon-mobile {
  margin: 0 .5rem 0 0;
  width: 1.2rem;
  height: 1.2rem;
  fill: #0097ff; }
